@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Press+Start+2P&family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
    background-color: gray;
}

div.container{
    width: 100%;
    height: 90vh;
    background-image: url(./markus-spiske-iar-afB0QQw-unsplash.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    opacity: 0.9;
    overflow: auto;
}

header.container_header{
    text-align: center;
    margin: 1em 0;
}

header.container_header h1{
    font-family: 'Press Start 2P';
    padding: 0 1em;
}

header.container_header p{
    font-family: 'Inconsolata', monospace;
    padding: 1em;
    font-size: large;
    font-weight: 600;
}

main.container_main {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

main.container_main section.text_session{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em; 
    margin: 2em 0;
}

main.container_main section.text_session p{
    font-family: 'Courier New', Courier, monospace;
}

main.container_main section.text_session textarea{
    border: none;
    background-color: transparent;
    border-radius: .5em;
    backdrop-filter: blur(1em);
    padding: 2em;
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
    color: white;
    width: 100%;
    height: 100%;
    resize: none;
}

main.container_main section.text_session .button_decodificador{
    display: flex;
    gap: 10px;
}

main.container_main section.text_session .button_decodificador button{
    background-color: #00ff00;
    color: black;
    width: 15em;
    text-align: center;
    font-size: medium;
    font-weight: 600;
    border: none;
    border-radius: .5em;
    padding: 1em;
    cursor: pointer;
}

main.container_main section.text_session .button_decodificador button:hover{
    color: lawngreen;
    background-color: black;
    border: 1px solid #00ff00;
}

main.container_main section.console_session{
    display: flex;
    align-items: flex-end;
    padding: 2em;
    background-color: black;
    border: 1px solid #00ff00;
    border-radius: 10px;
}

main.container_main section.console_session textarea{
    padding: 2em;
    background: transparent;
    border: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
    resize: none;
    width: 100%;
    resize: none;   
}

main.container_main section.console_session textarea.console_output {
    outline: none;
}

main.container_main section.console_session .button_cop{
    font-size: large;
    padding: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: lawngreen;
    background-color: black;
    border: 1px solid #00ff00;
}

main.container_main section.console_session .button_cop:hover{
    background-color: #00ff00;
    color: black;
}

footer.container_footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222;
    height: 10vh;
}

footer.container_footer p{
   color: white;
   text-align: center; 
   padding: 1em;
}

@media (max-width: 768px) {
  main.container_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  main.container_main section.text_session .button_decodificador{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

  main.container_main section.text_session,
  main.container_main section.console_session {
    width: 100%;
  }

  main.container_main section.console_session {
    height: 40vh;
  }

}
